services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: question_answer
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:1234@db/question_answer
    volumes:
      - ./migrations:/app/migrations
    command: >
      sh -c "
      echo 'Waiting for database...' &&
      sleep 5 &&
      echo 'Running migrations...' &&
      alembic upgrade head &&
      echo 'Starting application...' &&
      uvicorn main:app --host 0.0.0.0 --port 8000
      "

volumes:
  postgres_data: